#define MANIFEST 24
#define IDM_PROGRESS2 10040
#define IDR_MMENU_CHS 10000
#define IDM_OPEN 10001
#define IDM_LOAD 10002
#define IDM_SAVE 10003
#define IDM_SAVEAS 10004
#define IDM_CLOSE 10005
#define IDM_SETCODE 10006
#define IDM_EXPORT 10007
#define IDM_IMPORT 10008
#define IDM_EXIT 10009
#define IDM_UNDO 10011
#define IDM_REDO 10012
#define IDM_MODIFY 10013
#define IDM_PREVTEXT 10014
#define IDM_NEXTTEXT 10015
#define IDM_MARK 10016
#define IDM_UNMARKALL 10039
#define IDM_PREVMARK 10017
#define IDM_NEXTMARK 10018
#define IDM_CVTFULL 10037
#define IDM_CVTHALF 10038
#define IDM_PROGRESS 10040
#define IDM_FIND 10019
#define IDM_REPLACE 10020
#define IDM_SUMMARY 10021
#define IDM_GOTO 10022
#define IDM_FONT 10024
#define IDM_BACKGROUND 10025
#define IDM_CUSTOMUI 10026
#define IDM_RECOVERUI 10027
#define IDM_EXALL 10029
#define IDM_IMALL 10030
#define IDM_SUMALL 10031
#define IDM_CONFIG 10033
#define IDM_TXTFILTER 10041
#define IDM_ABOUT 10035
#define IDM_GOTO2 10022
#define IDS_WINDOWTITLE 1
#define IDS_CLASSNAME 2
#define IDS_DEFAULTFONT 3
#define IDS_CONFIGFILENAME 4
#define IDS_OPENTITLE1 7
#define IDS_ERROPENDLG 8
#define IDS_OPENTITLE2 9
#define IDS_WRONGPOS 11
#define IDS_ERRLOADFILE 12
#define IDS_DLLERR 13
#define IDS_FAILLOADMEL 14
#define IDS_LOADINGMEL 15
#define IDS_CANTOPENFILE 16
#define IDS_NOMATCH 17
#define IDS_ERRMATCH 18
#define IDS_ERREXDLL 19
#define IDS_ERRSAVE 20
#define IDS_SUCSAVE 21
#define IDS_SAVEORNOT 22
#define IDS_OPENTITLE3 5
#define IDS_EXPORTTXT 6
#define IDS_SUCEXPORT 23
#define IDS_IMPORTTXT 24
#define IDS_SUCIMPORT 25
#define IDS_TXTUNICODE 26
#define IDS_LINENOTMATCH 27
#define IDS_IMPORTPART 28
#define IDS_STRTOOLONG 29
#define IDS_DECLINEMOD 30
#define IDS_NOMEM 31
#define IDS_DEVELOP 32
#define IDS_SHUAI 33
#define IDS_CANTOPENCONFIG 34
#define IDS_NOTDEFMEL 35
#define IDS_FAILIMPORT 36
#define IDS_FAILEXPORT 37
#define IDS_INVALIDDIR 38
#define IDS_FAILREPLACE 39
#define IDS_RPCCOMPLETE 40
#define IDS_INNERNAME 41
#define IDS_INNERFORMAT 44
#define IDS_INNERVER 42
#define IDS_INNERDESC 43
#define IDS_SUCCONVERT 45
#define IDS_FAILCONVERT 46
#define IDS_SELECTBKGND 47
#define IDS_ERRORCODE 48
#define IDS_CODEFAILED 49
#define IDS_CODECVTFAILED 50
#define IDS_LINEMODIFIED 51
#define IDS_LOGFILEOPENNOT 52
#define IDS_NOTSUPPORTBATCHEXP 53
#define IDS_NOTSUPPORTBATCHIMP 54
#define IDS_AUTOMATCH 55
#define IDS_SELECTFILEAGAIN 56
#define IDS_LISTFILEVERSIONTOOLOW 57
#define IDS_FILTERPLUGINERR1 58
#define IDS_FILTERPLUGINERR2 59
#define IDR_VERSION1 1
#define IDR_XPMANIFEST1 1
#define IDR_ACCEL1 1
#define IDD_CHOOSEMEL 1000
#define IDC_CM_MELLIST 1001
#define IDC_CM_STC1 1002
#define IDC_CM_MELNAME 1003
#define IDC_STC1 1004
#define IDC_CM_VER 1005
#define IDC_STC2 1006
#define IDC_CM_DESC 1007
#define IDC_STC3 1008
#define IDC_CM_FORMAT 1009
#define IDC_CM_OK 1010
#define IDC_CM_CANCEL 2
#define IDC_CM_REM 1012
#define IDD_CONFIG 1100
#define IDC_GRP8 1101
#define IDC_CF_MODE_SINGLE 1102
#define IDC_CF_MODE_DOUBLE 1103
#define IDC_GRP9 1104
#define IDC_CF_AUTOTIME 1105
#define IDC_STC13 1106
#define IDC_GRP10 1107
#define IDC_CF_LOC_CURRENT 1108
#define IDC_CF_LOC_EXE 1109
#define IDC_GRP11 1110
#define IDC_CF_AC_NOT 1111
#define IDC_CF_AC_FULL 1112
#define IDC_CF_AC_HALF 1113
#define IDC_CF_AUTOOPEN 1114
#define IDC_CF_AUTOSELECT 1115
#define IDC_CF_OK 1116
#define IDC_CF_CANCEL 2
#define IDC_CF_SAVEWITHCODE 1117
#define IDC_STC18 1118
#define IDC_CF_AUTOUPDATE 1119
#define IDD_EXPALL 1200
#define IDC_GRP1 1201
#define IDC_GRP2 1202
#define IDC_GRP3 1203
#define IDC_STC4 1204
#define IDC_EA_NAME 1205
#define IDC_STC6 1206
#define IDC_EA_FORMAT 1207
#define IDC_EA_CHGMEL 1208
#define IDC_EA_DIRO 1209
#define IDC_EA_BROWSEO 1210
#define IDC_EA_DIRN 1211
#define IDC_EA_BROWSEN 1212
#define IDC_EA_OK 1213
#define IDC_EA_CANCEL 2
#define IDC_EA_MELIDX 1215
#define IDC_GRP12 1214
#define IDC_EA_CODE 1216
#define IDC_STC16 1217
#define IDC_STC17 1218
#define IDC_EA_FORCEMEL 1219
#define IDC_GRP17 1220
#define IDC_EA_FILTERON 1221
#define IDD_FIND 1300
#define IDC_STC5 1301
#define IDC_FIND_TEXT 1302
#define IDC_FIND_FINDN 1
#define IDC_FIND_FINDP 1304
#define IDC_FIND_CANCEL 2
#define IDC_GRP4 1306
#define IDC_FIND_WILD 1307
#define IDC_FIND_REGU 1308
#define IDC_FIND_TRAN 1309
#define IDC_GRP5 1310
#define IDC_FIND_ORI 1311
#define IDC_FIND_NEW 1312
#define IDD_REPLACE 1400
#define IDC_STC7 1401
#define IDC_STC8 1402
#define IDC_RPC_FIND 1403
#define IDC_RPC_RPC 1404
#define IDC_RPC_FINDN 1405
#define IDC_RPC_FINDP 1406
#define IDC_RPC_REPLACE 1407
#define IDC_RPC_CANCEL 2
#define IDC_RPC_RPCALL 1409
#define IDD_SUMSEARCH 1500
#define IDC_STC9 1501
#define IDC_SS_TEXT 1502
#define IDC_SS_MARK 1503
#define IDC_SS_SEARCH 1504
#define IDC_SS_CANCEL 2
#define IDD_FONT 1600
#define IDC_GRP6 1601
#define IDC_FONT_LISTF 1602
#define IDC_FONT_EDITF 1603
#define IDC_GRP7 1604
#define IDC_STC10 1605
#define IDC_STC11 1606
#define IDC_FONT_LISTCD 1607
#define IDC_FONT_EDITC 1608
#define IDC_FONT_CLOSE 2
#define IDC_STC12 1611
#define IDC_FONT_LISTCS 1612
#define IDD_ABOUT 1700
#define IDC_STC26 1701
#define IDC_STC27 1702
#define IDC_STC28 1703
#define IDC_AB_VER 1704
#define IDC_AB_OK 1
#define IDC_STC30 1705
#define IDC_AB_CANCEL 2
#define IDD_GOTO 1800
#define IDC_STC14 1801
#define IDC_GT_LINE 1802
#define IDC_STC15 1803
#define IDC_GT_TOTAL 1804
#define IDC_GT_GOTO 1
#define IDC_GT_CANCEL 2
#define IDD_CODE 1900
#define IDC_CODE_OK 1
#define IDC_CODE_CANCEL 2
#define IDC_GRP13 1901
#define IDC_STC19 1902
#define IDC_CODE_OPEN1 1903
#define IDC_STC20 1904
#define IDC_CODE_OPEN2 1907
#define IDC_GRP14 1908
#define IDC_CODE_SAVE2 1909
#define IDC_STC21 1910
#define IDD_TXTFILTER 2000
#define IDC_GRP15 2001
#define IDC_TF_INON 2002
#define IDC_TF_INPTN 2003
#define IDC_STC22 2004
#define IDC_TF_EXON 2005
#define IDC_TF_EXPTN 2006
#define IDC_STC23 2007
#define IDC_GRP16 2008
#define IDC_TF_HEADON 2009
#define IDC_TF_HEADPTN 2010
#define IDC_STC24 2011
#define IDC_TF_TAILON 2012
#define IDC_TF_TAILPTN 2013
#define IDC_STC25 2014
#define IDC_TF_CANCEL 2
#define IDC_TF_OK 1
#define IDC_TF_ALWAYSAPPLY 2016
#define IDC_GRP24 2015
#define IDC_TF_USEPLUGIN 2017
#define IDC_TF_PLUGINCOMBO 2018
#define IDC_TF_ALWAYSPLUGIN 2019
#define IDC_TF_PLUGINDESC 2020
#define IDD_IMPALL 2100
#define IDC_GRP18 2101
#define IDC_STC29 2102
#define IDC_STC31 2103
#define IDC_IA_NAME 2104
#define IDC_IA_FORMAT 2105
#define IDC_IA_FORCEMEL 2106
#define IDC_IA_CHGMEL 2107
#define IDC_GRP19 2108
#define IDC_GRP20 2109
#define IDC_IA_FILTERON 2110
#define IDC_STC32 2111
#define IDC_STC33 2112
#define IDC_IA_CODE 2113
#define IDC_GRP21 2114
#define IDC_GRP22 2115
#define IDC_IA_CANCEL 2
#define IDC_IA_OK 1
#define IDC_IA_DIRO 2118
#define IDC_IA_BROWSEO 2119
#define IDC_IA_BROWSEN 2120
#define IDC_IA_DIRN 2121
#define IDC_IA_MELIDX 2116
#define IDD_OPENTML 2200
#define IDC_STC34 2201
#define IDC_OPEN_PLUGINS 2202
#define IDD_PROGBAR 2300
#define IDC_PRBAR_BAR 2301
#define IDC_PRBAR_STOP 2302

LANGUAGE 4,2

IDR_MMENU_CHS MENU
LANGUAGE 4,2
BEGIN
  POPUP "文件(&F)"
  BEGIN
    MENUITEM "打开原始脚本(&O)...\tCtrl+O",IDM_OPEN
    MENUITEM "载入新脚本(&L)...",IDM_LOAD,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "保存脚本(&S)\tCtrl+S",IDM_SAVE,GRAYED
    MENUITEM "另存为(&A)...\tShift+Ctrl+S",IDM_SAVEAS,GRAYED
    MENUITEM "关闭脚本(&C)\tCtrl+W",IDM_CLOSE,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "编码设定(&D)...\tCtrl+D",IDM_SETCODE,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "导出为TXT(&E)...",IDM_EXPORT,GRAYED
    MENUITEM "由TXT导入(&I)...",IDM_IMPORT,GRAYED
    MENUITEM "退出(&X)",IDM_EXIT
  END
  POPUP "编辑(&E)"
  BEGIN
    MENUITEM "撤销(&U)\tF5",IDM_UNDO,GRAYED
    MENUITEM "重做(&R)\tF6",IDM_REDO,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "修改(&M)\tEnter",IDM_MODIFY,GRAYED
    MENUITEM "上一行(&P)\tPgUp",IDM_PREVTEXT,GRAYED
    MENUITEM "下一行(&T)\tPgDown",IDM_NEXTTEXT,GRAYED
    MENUITEM SEPARATOR
    POPUP "标记(&A)"
    BEGIN
      MENUITEM "标记/取消标记(&M)\tInsert",IDM_MARK,GRAYED
      MENUITEM "全部取消(&A)",IDM_UNMARKALL,GRAYED
      MENUITEM "上一标记(&B)\tCtrl+↑",IDM_PREVMARK,GRAYED
      MENUITEM "下一标记(&N)\tCtrl+↓",IDM_NEXTMARK,GRAYED
    END
    POPUP "转换(&C)"
    BEGIN
      MENUITEM "全文到全角(&F)",IDM_CVTFULL,GRAYED
      MENUITEM "全文到半角(&H)",IDM_CVTHALF,GRAYED
    END
    MENUITEM SEPARATOR
    MENUITEM "进度统计(&P)",IDM_PROGRESS,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "查找(&F)...\tCtrl+F",IDM_FIND,GRAYED
    MENUITEM "替换(&R)...\tCtrl+H",IDM_REPLACE,GRAYED
    MENUITEM "统计查找(&S)...",IDM_SUMMARY,GRAYED
    MENUITEM "跳转(&G)...\tCtrl+G",IDM_GOTO,GRAYED
  END
  POPUP "视图(&V)"
  BEGIN
    MENUITEM "字体与颜色(&F)...",IDM_FONT
    MENUITEM "背景(&B)...",IDM_BACKGROUND
    MENUITEM "界面定制(&C)...",IDM_CUSTOMUI,GRAYED
    MENUITEM "界面还原(&R)",IDM_RECOVERUI,GRAYED
  END
  POPUP "批量(&M)"
  BEGIN
    MENUITEM "批量导出TXT(&E)...",IDM_EXALL
    MENUITEM "批量导入(&I)...",IDM_IMALL
    MENUITEM "批量处理(&P)...",IDM_SUMALL,GRAYED
  END
  POPUP "选项(&O)"
  BEGIN
    MENUITEM "设置(&S)...",IDM_CONFIG
    MENUITEM "文本过滤(&F)...",IDM_TXTFILTER
  END
  POPUP "帮助(&H)"
  BEGIN
    MENUITEM "关于(&A)",IDM_ABOUT
  END
  MENUITEM "跳转(&G)",IDM_GOTO2
  MENUITEM "进度统计(&P)",10040
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_WINDOWTITLE "Multiline Editor"
  IDS_CLASSNAME "lneditClass"
  IDS_DEFAULTFONT "宋体"
  IDS_CONFIGFILENAME "lnedit.ini"
  IDS_OPENTITLE1 "选择原始脚本..."
  IDS_ERROPENDLG """打开文件""对话框发生错误！错误代码%d"
  IDS_OPENTITLE2 "选择译文脚本..."
  IDS_WRONGPOS "您好像选择了新脚本而非原始脚本，要自动更正吗？"
  IDS_ERRLOADFILE "载入文件失败！请检查内存可用空间及用户权限！"
  IDS_DLLERR "插件处理脚本时发生错误！"
  IDS_FAILLOADMEL "读入MEL失败！您将只能使用纯文本编辑功能！"
  IDS_LOADINGMEL " - 正在读取插件..."
  IDS_CANTOPENFILE "无法打开文件！"
  IDS_NOMATCH "未找到可以识别该脚本的插件！"
  IDS_ERRMATCH "识别脚本的过程中发生未知错误！"
  IDS_ERREXDLL "%s格式错误！请联系开发者！"
  IDS_ERRSAVE "保存文件时发生错误！您可以通过导出为TXT来保存翻译结果！"
  IDS_SUCSAVE "保存成功！"
  IDS_SAVEORNOT "脚本已被修改，要保存吗？"
  IDS_OPENTITLE3 "另存为..."
  IDS_EXPORTTXT "导出为TXT..."
  IDS_SUCEXPORT "成功导出为TXT！"
  IDS_IMPORTTXT "从TXT导入..."
  IDS_SUCIMPORT "成功由TXT中导入！"
  IDS_TXTUNICODE "TXT必须使用Unicode LE编码！"
  IDS_LINENOTMATCH "新脚本行数与原始脚本不一致！"
  IDS_IMPORTPART "由于TXT中某些行长度过长，该行未被导入。"
  IDS_STRTOOLONG "修改过程中发生错误！可能是文本长度过长或内存不足！"
  IDS_DECLINEMOD "修改被插件拒绝！"
  IDS_NOMEM "内存不足！"
  IDS_DEVELOP "功能开发中"
  IDS_SHUAI "摔14不解释"
  IDS_CANTOPENCONFIG "无法打开配置文件！"
  IDS_NOTDEFMEL "您指定的插件%s好像不能正确识别该脚本，要继续吗？"
  IDS_FAILIMPORT "导入完成！某些文件未被成功导入，详情请查看log.txt文件"
  IDS_FAILEXPORT "导出过程发生错误！"
  IDS_INVALIDDIR "无效的目录！"
  IDS_FAILREPLACE "替换过程中发生错误！"
  IDS_RPCCOMPLETE "共完成%d处替换，错误%d处！"
  IDS_INNERNAME "纯文本处理"
  IDS_INNERFORMAT ".txt"
  IDS_INNERVER "3.0.0"
  IDS_INNERDESC "内置文本处理插件，支持GBK、Unicode等格式的纯文本。"
  IDS_SUCCONVERT "转换成功！"
  IDS_FAILCONVERT "转换过程中发生错误！"
  IDS_SELECTBKGND "请选择背景图片"
  IDS_ERRORCODE "发生错误！错误代码：%d"
  IDS_CODEFAILED "编码应用失败！请重新打开文件！"
  IDS_CODECVTFAILED "转换为指定编码时发生错误！"
  IDS_LINEMODIFIED "编辑器已打开：%d分\n当前文件打开时间：%d分\n你已经修改过：%d行"
  IDS_LOGFILEOPENNOT "无法创建或访问日志文件！"
  IDS_NOTSUPPORTBATCHEXP "该插件不支持批量导出！"
  IDS_NOTSUPPORTBATCHIMP "该插件不支持批量导入！"
  IDS_AUTOMATCH "自动匹配"
  IDS_SELECTFILEAGAIN "请再选择一次刚才的文件！"
  IDS_LISTFILEVERSIONTOOLOW "主程序版本过低，无法自动更新，请到\nhttp://code.google.com/p/lneditor/downloads/list\n下载最新版本！"
  IDS_FILTERPLUGINERR1 "插件过滤失败！请检查新旧脚本的格式一致性！"
  IDS_FILTERPLUGINERR2 "插件过滤失败！"
END

IDR_VERSION1 VERSIONINFO
FILEVERSION 2,1,2,698
PRODUCTVERSION 2,1,2,698
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "FileVersion", "2.1.2.698\0"
      VALUE "ProductVersion", "2.1.2.698\0"
      VALUE "FileDescription", "A General Script Editor for Galgame.\0"
      VALUE "InternalName", "lnedit\0"
      VALUE "OriginalFilename", "lnedit.exe\0"
      VALUE "ProductName", "Script Editor\0"
      VALUE "CompanyName", "AmaF\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 0x04B0
  END
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

IDR_ACCEL1 ACCELERATORS
LANGUAGE 4,2
BEGIN
  79,IDM_OPEN,VIRTKEY,CONTROL,NOINVERT
END

500 ICON DISCARDABLE "icon2.ico"

IDD_CHOOSEMEL DIALOGEX 0,0,192,294
CAPTION "请指定要使用的插件"
FONT 9,"宋体",400,0,134
STYLE 0x90C80800
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_CM_MELLIST,"ListBox",0x50A10141,3,3,186,156,0x00000200
  CONTROL "名称：",IDC_CM_STC1,"Static",0x50000000,6,165,24,9
  CONTROL "",IDC_CM_MELNAME,"Static",0x50000000,33,165,156,9
  CONTROL "版本：",IDC_STC1,"Static",0x50000000,6,180,24,9
  CONTROL "",IDC_CM_VER,"Static",0x50000000,33,180,156,9
  CONTROL "描述：",IDC_STC2,"Static",0x50000000,6,210,24,9
  CONTROL "",IDC_CM_DESC,"Static",0x50000000,33,210,156,45
  CONTROL "格式：",IDC_STC3,"Static",0x50000000,6,195,24,9
  CONTROL "",IDC_CM_FORMAT,"Static",0x50000000,33,195,156,9
  CONTROL "确定",IDC_CM_OK,"Button",0x50010001,3,273,90,18
  CONTROL "取消",IDC_CM_CANCEL,"Button",0x50010000,96,273,93,18
  CONTROL "记住我的选择",IDC_CM_REM,"Button",0x50010003,9,261,63,9
END

IDD_CONFIG DIALOGEX 0,0,252,168
CAPTION "设置"
FONT 9,"宋体",400,0,0
STYLE 0x90C80800
EXSTYLE 0x00000001
BEGIN
  CONTROL "编辑模式",IDC_GRP8,"Button",0x50000007,6,6,114,39
  CONTROL "单文件编辑",IDC_CF_MODE_SINGLE,"Button",0x50030009,15,18,54,9
  CONTROL "双文件编辑",IDC_CF_MODE_DOUBLE,"Button",0x58010009,15,30,51,9
  CONTROL "自动保存时间",IDC_GRP9,"Button",0x50000007,6,57,114,33
  CONTROL "",IDC_CF_AUTOTIME,"Edit",0x50012000,15,72,18,12,0x00000200
  CONTROL "秒(0为不自动保存)",IDC_STC13,"Static",0x50000000,36,72,72,12
  CONTROL "新脚本保存位置",IDC_GRP10,"Button",0x50000007,6,99,114,39
  CONTROL "原始脚本目录下",IDC_CF_LOC_CURRENT,"Button",0x50030009,15,111,90,9
  CONTROL "EXE目录下",IDC_CF_LOC_EXE,"Button",0x50010009,15,123,90,9
  CONTROL "全/半角自动转换",IDC_GRP11,"Button",0x50000007,138,6,108,51
  CONTROL "不转换",IDC_CF_AC_NOT,"Button",0x50030009,147,18,87,9
  CONTROL "自动转换为全角",IDC_CF_AC_FULL,"Button",0x50010009,147,30,87,9
  CONTROL "自动转换为半角",IDC_CF_AC_HALF,"Button",0x50010009,147,42,81,9
  CONTROL "自动打开上一次的脚本",IDC_CF_AUTOOPEN,"Button",0x50010003,138,63,99,9
  CONTROL "自动选中编辑框中文本",IDC_CF_AUTOSELECT,"Button",0x50010003,138,78,99,9
  CONTROL "确定",IDC_CF_OK,"Button",0x50010001,135,147,51,15
  CONTROL "取消",IDC_CF_CANCEL,"Button",0x50010000,195,147,48,15
  CONTROL "",IDC_CF_SAVEWITHCODE,"ComboBox",0x58010003,138,126,102,9
  CONTROL "自动将非U码文本转换为：",IDC_STC18,"Static",0x50000000,138,114,105,9
  CONTROL "自动更新(需连接网络)",IDC_CF_AUTOUPDATE,"Button",0x50010003,138,93,99,9
END

IDD_EXPALL DIALOGEX 0,0,246,198
CAPTION "批量导出为TXT"
FONT 9,"宋体",400,0,0
STYLE 0x90C80800
BEGIN
  CONTROL "脚本目录",IDC_GRP1,"Button",0x50000007,3,99,240,33
  CONTROL "使用插件",IDC_GRP2,"Button",0x50000007,3,3,240,51
  CONTROL "输出目录",IDC_GRP3,"Button",0x50000007,3,138,240,33
  CONTROL "名称：",IDC_STC4,"Static",0x50000000,9,18,30,9
  CONTROL "",IDC_EA_NAME,"Static",0x50000000,57,18,102,9
  CONTROL "支持格式：",IDC_STC6,"Static",0x50000000,9,36,42,9
  CONTROL "",IDC_EA_FORMAT,"Static",0x50000000,57,36,102,9
  CONTROL "更改插件",IDC_EA_CHGMEL,"Button",0x50010000,165,15,72,15
  CONTROL "",IDC_EA_DIRO,"Edit",0x50010080,9,114,162,12,0x00000200
  CONTROL "浏览",IDC_EA_BROWSEO,"Button",0x50010000,177,114,60,15
  CONTROL "",IDC_EA_DIRN,"Edit",0x50010080,9,153,162,12,0x00000200
  CONTROL "浏览",IDC_EA_BROWSEN,"Button",0x50010000,177,153,60,15
  CONTROL "导出",IDC_EA_OK,"Button",0x50010001,111,177,60,15
  CONTROL "取消",IDC_EA_CANCEL,"Button",0x50010000,177,177,60,15
  CONTROL "",IDC_EA_MELIDX,"Static",NOT 0x10000000|0x40000000,114,3,33,9
  CONTROL "编码",IDC_GRP12,"Button",0x50000007,3,63,147,30
  CONTROL "",IDC_EA_CODE,"ComboBox",0x50010003,24,75,81,12
  CONTROL "以",IDC_STC16,"Static",0x50000000,12,78,9,9
  CONTROL "编码打开",IDC_STC17,"Static",0x50000000,108,78,36,9
  CONTROL "强制使用指定插件",IDC_EA_FORCEMEL,"Button",0x50010003,165,36,75,9
  CONTROL "文本过滤",IDC_GRP17,"Button",0x50000007,159,63,84,30
  CONTROL "开启文本过滤",IDC_EA_FILTERON,"Button",0x50010003,168,78,66,9
END

IDD_FIND DIALOGEX 0,0,318,72
CAPTION "查找文本"
FONT 9,"宋体",400,0,0
STYLE 0x90C81000
EXSTYLE 0x08000001
BEGIN
  CONTROL "查找：",IDC_STC5,"Static",0x50000000,6,9,24,12
  CONTROL "",IDC_FIND_TEXT,"Edit",0x50011000,30,9,207,12,0x00000200
  CONTROL "查找下一个(&F)",IDC_FIND_FINDN,"Button",0x58010001,252,3,63,18
  CONTROL "查找上一个(&P)",IDC_FIND_FINDP,"Button",0x58010000,252,27,63,18
  CONTROL "取消",IDC_FIND_CANCEL,"Button",0x50010000,252,51,63,18
  CONTROL "匹配规则",IDC_GRP4,"Button",0x50000007,6,27,180,39
  CONTROL "支持通配符(&W)",IDC_FIND_WILD,"Button",0x50010003,12,39,90,12
  CONTROL "支持正则表达式(&R)",IDC_FIND_REGU,"Button",0x58010003,12,54,90,12
  CONTROL "支持转义符(&T)",IDC_FIND_TRAN,"Button",NOT 0x10000000|0x40010003,111,39,69,12
  CONTROL "搜索位置",IDC_GRP5,"Button",0x50000007,195,27,48,39
  CONTROL "原文",IDC_FIND_ORI,"Button",0x50030009,204,39,33,12
  CONTROL "译文",IDC_FIND_NEW,"Button",0x50010009,204,51,33,12
END

IDD_REPLACE DIALOGEX 0,0,282,111
CAPTION "替换文本"
FONT 9,"宋体",400,0,0
STYLE 0x90C81000
EXSTYLE 0x08000001
BEGIN
  CONTROL "查找：",IDC_STC7,"Static",0x50000000,6,9,27,9
  CONTROL "替换：",IDC_STC8,"Static",0x50000000,6,30,27,12
  CONTROL "",IDC_RPC_FIND,"Edit",0x50010000,36,9,171,12,0x00000200
  CONTROL "",IDC_RPC_RPC,"Edit",0x50010000,36,30,171,12,0x00000200
  CONTROL "查找下一个(&F)",IDC_RPC_FINDN,"Button",0x58010001,216,6,63,18
  CONTROL "查找上一个(&P)",IDC_RPC_FINDP,"Button",0x58010000,216,27,63,18
  CONTROL "替换(&R)",IDC_RPC_REPLACE,"Button",0x58010000,216,48,63,18
  CONTROL "取消",IDC_RPC_CANCEL,"Button",0x50010000,216,90,63,18
  CONTROL "全部替换(&A)",IDC_RPC_RPCALL,"Button",0x58010000,216,69,63,18
END

IDD_SUMSEARCH DIALOGEX -195,-60,228,33
CAPTION "统计查找"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x90C80800
BEGIN
  CONTROL "查找：",IDC_STC9,"Static",0x50000000,0,3,27,9
  CONTROL "",IDC_SS_TEXT,"Edit",0x50010000,30,3,150,12,0x00000200
  CONTROL "在列表中标记",IDC_SS_MARK,"Button",0x50010003,27,21,102,9
  CONTROL "搜索(&S)",IDC_SS_SEARCH,"Button",0x50010001,183,6,39,18
  CONTROL "",IDC_SS_CANCEL,"Button",NOT 0x10000000|0x40010000,3,21,18,9
END

IDD_FONT DIALOGEX 12,-9,153,180
CAPTION "字体与颜色"
FONT 9,"宋体",400,0,0
STYLE 0x90C80800
EXSTYLE 0x00000001
BEGIN
  CONTROL "字体",IDC_GRP6,"Button",0x50000007,6,6,144,36
  CONTROL "列表框",IDC_FONT_LISTF,"Button",0x50010000,15,18,57,15
  CONTROL "编辑框",IDC_FONT_EDITF,"Button",0x50010000,81,18,57,15
  CONTROL "颜色",IDC_GRP7,"Button",0x50000007,6,48,141,105
  CONTROL "列表框默认",IDC_STC10,"Static",0x50000000,15,63,48,12
  CONTROL "编辑框",IDC_STC11,"Static",0x50000000,15,99,45,12
  CONTROL "",IDC_FONT_LISTCD,"Button",0x500100C0,72,60,18,15
  CONTROL "",IDC_FONT_EDITC,"Button",0x500100C0,72,96,18,15
  CONTROL "关闭",IDC_FONT_CLOSE,"Button",0x50010000,36,159,78,18
  CONTROL "列表框选中",IDC_STC12,"Static",0x50000000,15,81,48,12
  CONTROL "",IDC_FONT_LISTCS,"Button",0x50010000,72,78,18,15
END

IDD_ABOUT DIALOGEX 10,10,174,129
CAPTION "Multiline Editor"
FONT 9,"宋体",400,0,134
STYLE 0x90C80800
EXSTYLE 0x00000001
BEGIN
  CONTROL "Multiline Editor",IDC_STC26,"Static",0x50000201,27,9,114,12
  CONTROL "A Galgame Script Editor",IDC_STC27,"Static",0x50000201,21,54,126,12
  CONTROL "by AmaF",IDC_STC28,"Static",0x50000201,60,36,48,9
  CONTROL "",IDC_AB_VER,"Static",0x50000201,63,21,42,12
  CONTROL "确定",IDC_AB_OK,"Button",0x50010001,57,108,57,15
  CONTROL "Copyright 2010-2011",IDC_STC30,"Static",0x50000201,20,75,129,12
  CONTROL "",IDC_AB_CANCEL,"Button",NOT 0x10000000|0x40010000,138,108,18,12
END

IDD_GOTO DIALOGEX 10,10,135,39
CAPTION "跳转到行"
FONT 9,"宋体",400,0,134
STYLE 0x90C80000
EXSTYLE 0x00000001
BEGIN
  CONTROL "跳转到：",IDC_STC14,"Static",0x50000000,9,9,33,9
  CONTROL "",IDC_GT_LINE,"Edit",0x50012000,45,9,39,12,0x00000200
  CONTROL "行",IDC_STC15,"Static",0x50000000,87,9,15,9
  CONTROL "",IDC_GT_TOTAL,"Static",0x50000000,45,24,45,9
  CONTROL "Go",IDC_GT_GOTO,"Button",0x58010001,108,9,24,18
  CONTROL "",IDC_GT_CANCEL,"Button",NOT 0x10000000|0x40010000,6,24,18,6
END

IDD_CODE DIALOGEX 0,0,165,108
CAPTION "编码设定"
FONT 9,"宋体",400,0,0
STYLE 0x10C80800
EXSTYLE 0x00000001
BEGIN
  CONTROL "确定",IDC_CODE_OK,"Button",0x50010001,120,69,42,15
  CONTROL "取消",IDC_CODE_CANCEL,"Button",0x50010000,120,87,42,15
  CONTROL "用以下编码打开：",IDC_GRP13,"Button",0x50000007,3,3,159,48
  CONTROL "左列：",IDC_STC19,"Static",0x50000000,9,18,42,9
  CONTROL "",IDC_CODE_OPEN1,"ComboBox",0x50010003,9,30,66,12
  CONTROL "右列：",IDC_STC20,"Static",0x50000000,93,18,42,9
  CONTROL "",IDC_CODE_OPEN2,"ComboBox",0x50010003,90,30,66,12
  CONTROL "保存编码：",IDC_GRP14,"Button",0x50000007,3,57,78,48
  CONTROL "",IDC_CODE_SAVE2,"ComboBox",0x50010003,9,84,66,12
  CONTROL "右列：",IDC_STC21,"Static",0x50000000,9,72,42,9
END

IDD_TXTFILTER DIALOGEX 10,10,219,225
CAPTION "文本过滤设置"
FONT 9,"宋体",400,0,134
STYLE 0x10C80800
EXSTYLE 0x00000001
BEGIN
  CONTROL "行过滤（任意插件适用）",IDC_GRP15,"Button",0x50000007,6,96,210,99
  CONTROL "开启行包含过滤",IDC_TF_INON,"Button",0x50010003,12,111,75,9
  CONTROL "",IDC_TF_INPTN,"Edit",0x50010080,39,123,171,12,0x00000200
  CONTROL "只包含",IDC_STC22,"Static",0x50000000,9,123,27,9
  CONTROL "开启行排除过滤",IDC_TF_EXON,"Button",0x50010003,12,144,72,9
  CONTROL "",IDC_TF_EXPTN,"Edit",0x50010080,39,162,171,12,0x00000200
  CONTROL "排除",IDC_STC23,"Static",0x50000000,15,162,21,9
  CONTROL "行首/行末裁剪(仅对纯文本文件有效)",IDC_GRP16,"Button",0x50000007,282,213,210,84
  CONTROL "开启行首裁剪",IDC_TF_HEADON,"Button",0x58010003,288,225,186,9
  CONTROL "",IDC_TF_HEADPTN,"Edit",0x50010080,315,243,171,12,0x00000200
  CONTROL "裁剪",IDC_STC24,"Static",0x50000000,291,243,21,9
  CONTROL "开启行末裁剪",IDC_TF_TAILON,"Button",0x58010003,288,261,189,9
  CONTROL "",IDC_TF_TAILPTN,"Edit",0x50010080,315,279,171,12,0x00000200
  CONTROL "裁剪",IDC_STC25,"Static",0x50000000,291,279,21,9
  CONTROL "取消",IDC_TF_CANCEL,"Button",0x50010000,153,201,63,18
  CONTROL "应用并保存",IDC_TF_OK,"Button",0x50010001,84,201,63,18
  CONTROL "总是对新文件进行过滤",IDC_TF_ALWAYSAPPLY,"Button",0x50010003,12,180,99,9
  CONTROL "过滤插件（纯文本专用）",IDC_GRP24,"Button",0x50000007,6,3,210,87
  CONTROL "使用插件",IDC_TF_USEPLUGIN,"Button",0x50010003,12,18,45,9
  CONTROL "",IDC_TF_PLUGINCOMBO,"ComboBox",0x50010003,60,15,144,12
  CONTROL "总是对新文件进行过滤",IDC_TF_ALWAYSPLUGIN,"Button",0x50010003,12,75,99,9
  CONTROL "",IDC_TF_PLUGINDESC,"Static",0x50000008,12,33,198,36
END

IDD_IMPALL DIALOGEX 0,0,246,198
CAPTION "从TXT批量导入"
FONT 9,"宋体",400,0,134
STYLE 0x10C80800
BEGIN
  CONTROL "使用插件",IDC_GRP18,"Button",0x50000007,3,3,240,51
  CONTROL "名称：",IDC_STC29,"Static",0x50000000,9,18,42,9
  CONTROL "支持格式：",IDC_STC31,"Static",0x50000000,9,36,42,9
  CONTROL "",IDC_IA_NAME,"Static",0x50000000,57,18,102,9
  CONTROL "",IDC_IA_FORMAT,"Static",0x50000000,57,36,102,9
  CONTROL "强制使用指定插件",IDC_IA_FORCEMEL,"Button",0x50010003,165,36,75,9
  CONTROL "更改插件",IDC_IA_CHGMEL,"Button",0x50010000,165,15,72,15
  CONTROL "编码",IDC_GRP19,"Button",0x50000007,3,63,147,30
  CONTROL "原文文本过滤",IDC_GRP20,"Button",0x50000007,159,63,84,30
  CONTROL "开启文本过滤",IDC_IA_FILTERON,"Button",0x50010003,168,78,66,9
  CONTROL "导入为",IDC_STC32,"Static",0x50000000,12,78,27,9
  CONTROL "编码",IDC_STC33,"Static",0x50000000,123,78,18,9
  CONTROL "",IDC_IA_CODE,"ComboBox",0x50010003,39,75,81,12
  CONTROL "脚本目录",IDC_GRP21,"Button",0x50000007,3,99,240,33
  CONTROL "TXT目录",IDC_GRP22,"Button",0x50000007,3,138,240,33
  CONTROL "取消",IDC_IA_CANCEL,"Button",0x50010000,177,177,60,15
  CONTROL "导入",IDC_IA_OK,"Button",0x50010001,111,177,60,15
  CONTROL "",IDC_IA_DIRO,"Edit",0x50010080,9,114,162,12,0x00000200
  CONTROL "浏览",IDC_IA_BROWSEO,"Button",0x50010000,177,114,60,15
  CONTROL "浏览",IDC_IA_BROWSEN,"Button",0x50010000,177,153,60,15
  CONTROL "",IDC_IA_DIRN,"Edit",0x50010080,9,153,162,12,0x00000200
  CONTROL "",IDC_IA_MELIDX,"Static",NOT 0x10000000|0x40000000,111,6,36,12
END

IDD_OPENTML DIALOGEX 10,10,225,18
CAPTION "IDD_DLG"
FONT 9,"宋体",400,0,0
STYLE 0x54000404
BEGIN
  CONTROL "指定插件:",IDC_STC34,"Static",0x50000000,6,3,45,9
  CONTROL "",IDC_OPEN_PLUGINS,"ComboBox",0x50010003,59,0,156,12
END

IDD_PROGBAR DIALOGEX 10,10,315,21
CAPTION "进度"
FONT 9,"宋体",400,0,134
STYLE 0x10C80000
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_PRBAR_BAR,"msctls_progress32",0x50000000,3,3,258,12
  CONTROL "中止",IDC_PRBAR_STOP,"Button",0x50010000,273,3,33,15
END

