#define IDR_VERSION1 1

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,5,0,0
PRODUCTVERSION 1,5,0,0
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "FileVersion", "1.5.0.0\0"
      VALUE "ProductVersion", "1.5.0.0\0"
      VALUE "CompanyName", "AmaF\0"
      VALUE "FileDescription", "Majiro Script Plugin.\0"
      VALUE "InternalName", "majiro.mel\0"
      VALUE "OriginalFilename", "majiro.mel\0"
      VALUE "ProductName", "Majiro Script Editor\0"
      VALUE "Format", ".mjo\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 0x04B0
  END
END

